[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
networkx = "*"
pluginbase = "*"
pyyaml = "*"
yaspin = "*"

[dev-packages]
mkproj = {editable = true,path = "."}
black = "==19.3b0"
flake8 = "*"
flake8-bugbear = "*"
flake8-builtins = "*"
flake8-comprehensions = "*"
flake8-mypy = "*"
invoke = "*"
ipython = "*"
isort = "*"
requests = "*"
twine = "*"

[requires]
python_version = "3.7"
