[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"

[dev-packages]
mkproj = {path = ".", editable = true}
pylint = "*"
ipython = "*"
invoke = "*"
requests = "*"

[requires]
python_version = "3.7"
