[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
mkproj = {editable = true,path = "."}
black = "==18.9b0"
flake8 = "*"
flake8-bugbear = "*"
flake8-builtins = "*"
flake8-mypy = "*"
invoke = "*"
ipython = "*"
isort = "*"
requests = "*"
networkx = "==2.2"
yaspin = "*"

[requires]
python_version = "3.7"
