from setuptools import find_packages, setup

setup(
    name='$name',
    version='',
    packages=find_packages(),
    url='',
    license='$license',
    author='$author',
    author_email='$author_email',
    description='',
    entry_points={
        'console_scripts': [
            '',
        ]
    },
    package_data={
        "": "LICENSE",
    },
    include_package_data=True,
)