import os

from setuptools import find_packages, setup

# Taken from pipenv
# See https://github.com/pypa/pipenv/blob/master/setup.py
here = os.path.abspath(os.path.dirname(__file__))
about = {}
with open(os.path.join(here, "{{ data("project-name") }}", "__version__.py")) as f:
    exec(f.read(), about)

setup(
    name='{{ config("user", "name") }}',
    version=about["__version__"],
    packages=find_packages(),
    url='',
    license='{{ config("core", "license") }}',
    author='{{ config("user", "name") }}',
    author_email='{{ config("user", "email") }}',
    description='',
    entry_points={
        'console_scripts': [
            '',
        ]
    },
    package_data={
        "": "LICENSE",
    },
    include_package_data=True,
)
